.about-page {
  padding: 2rem 0;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.about-description {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.about-subtitle {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.about-list {
  margin-top: 1rem;
  list-style-type: disc;
  padding-left: 1.5rem;
}