.about-page {
  padding: 60px 0;
  background-color: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-content {
  /* display: flex;
  flex-wrap: wrap; */
}

.about-image-container {
   display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
}

.about-image {
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
}

.about-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c3e50;
}

.about-description {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 40px;
}

.about-section {
  margin-bottom: 30px;
}

.section-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #34495e;
  margin-bottom: 10px;
}

.section-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

/* Responsive for smaller devices */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-title {
    text-align: center;
  }

  .about-description,
  .section-description,
  .section-title {
    text-align: center;
  }
}
