.contacts-page {
  padding: 2rem 0;
}

.contacts-title {
  margin-bottom: 2rem;
  text-align: center;
}

.contact-form {
  width: 100%;
}

.contact-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 2rem;
}


.contact-button{
  background-color: #333 !important;
}
@media (max-width: 768px) {
  .contact-image {
    margin-top: 1rem;
  }
}
