.title-slider {
  margin: 2rem 0;
}

.title-item {
  text-align: center;
  margin-right: 5px;
  padding: 1rem;
  background: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-image {
  width: 40%;
  height: auto;
  margin-right: 1rem;
}

.title-text {
  width: 60%;
  text-align: left;
}

.download-link {
  display: block;
  margin-top: 0.5rem;
  color: #007bff;
  text-decoration: none;
}

.download-link:hover {
  text-decoration: underline;
}